<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="styles/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Comfortaa")
		title Oh, my ... !
	body
		.container
			nav
				input(type="checkbox", id="nav", class="hidden")
				label(for="nav", class="nav-btn")
					i
					i
					i
				.logo
					a(href="javascript: void(0);")
						| CODEMECODEYOU
				.nav-wrapper
					ul
						li
							a(href="javascript: void(0);")
								| Home
						li
							a(href="javascript: void(0);")
								| Overview
						li
							a(href="javascript: void(0);")
								| Contacts
						li
							a(href="javascript: void(0);")
								| About
		.header
			| Presentation page
			br
			| about almighty
			span.logo_text-bold
				|  CSS 
			| /
			span.logo_text-bold
				| JS